@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: #151515;
    color: white;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    transition: background-color 0.3s;
  }
  
  .box.light {
    background-color: lightblue;
  }
  
  .box.dark {
    background-color: #333;
  }
  
  
  /* Dark Mode Toggle Button */
  .dark-mode-toggle {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #4f46e5;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .dark-mode-toggle:hover {
    background-color: #4338ca;
    transform: scale(1.05);
  }
  
  .dark-mode-toggle:active {
    transform: scale(1);
  }
  